<!doctype html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="{{ config.favicon }}">
    <link rel="prefetch" type="application/l10n" href="translations.ini" />
  </head>
  <body>

    <main class="wrapper">

      <nav class="navigation">
        <section class="container">
          <a class="navigation-title" href="">
            <img class="img" src="{{ config.logo }}" height="30">
            <h1 class="title">{{ config.title }}</h1>
          </a>
        </section>
      </nav>

      <section class="container" id="main">
        {% if current_status == 'operational' %}
        <div class="panel operational">
          All Systems Mostly Operational
        </div>
        {% elif current_status == 'maintenance' %}
        <div class="panel investigating">
          Maintenance
        </div>
        {% elif current_status == 'investigating' %}
        <div class="panel investigating">
          Investigating
        </div>
        {% elif current_status == 'degraded performance' %}
        <div class="panel degraded performance">
          Degraded Performance
        </div>
        {% else %}
        <div class="panel major outage">
          Major Outage
        </div>
        {% endif %}

        {% if open_issues %}
        <h4 id="incidents"><a href="#incidents" style="color: inherit;">Ongoing Incidents</a></h4>
        <em>See the linked GitHub issue for incident updates.</em>
        {% for issue in open_issues %}
        <div class="incident">
          <span class="date moment">{{ issue.time }} UTC</span>
          <span class="label {{ issue.severity }} float-right">{{ issue.severity }}</span>
          <hr/>
          <span class="title">{{ issue.title|safe }} <a href="{{ issue.url }}">#{{ issue.id }}</a></span>
          <br/>
          {{ issue.body|safe }}
        </div>
        {% endfor %}
        {% endif %}

        <h4 id="repos_and_bots"><a href="#repos_and_bots" style="color: inherit;">Repos and Bots</a></h4>

        <script type="text/javascript" src="repostatus.js"></script>

        <div class="docs">
          <h5>
            <a href="https://github.com/conda-forge/conda-forge.github.io"> documentation</a> status:
            <a href="https://github.com/conda-forge/conda-forge.github.io/actions?query=workflow%3Adeploy">
            <img src="https://github.com/conda-forge/conda-forge.github.io/workflows/deploy/badge.svg"
                 alt=" " align="bottom"
                 onerror='statusImageNotFound(this)'>
            </a>
          </h5>
        </div>

        <div class="autotick bot">
          <h5>
            <a href="https://github.com/regro/cf-scripts"> autotick bot </a>status:
            <a href="https://github.com/regro/cf-scripts/actions">
            <img src="https://github.com/regro/cf-scripts/actions/workflows/bot-bot.yml/badge.svg"
                 alt=" " align="bottom"
                 onerror='statusImageNotFound(this)'
                 >
            </a>
          </h5>
        </div>

        <div class="staged-recipes">
          <h5>
            <a href="https://github.com/conda-forge/staged-recipes">staged-recipes</a> status:
            <a href="https://github.com/conda-forge/admin-requests/actions/workflows/create_feedstocks.yml">
            <img src="https://github.com/conda-forge/admin-requests/actions/workflows/create_feedstocks.yml/badge.svg"
                 alt=" " align="bottom"
                 onerror='statusImageNotFound(this)'>
            </a>
          </h5>
        </div>

        <div class="webservices">
          <h5><a href="https://github.com/conda-forge/conda-forge-webservices">admin web services</a> status:
              <span id="webservices-status">No Status Available</span></h5>
        </div>

        <div class="admin migrations">
          <h5>
            <a href="https://github.com/conda-forge/admin-migrations"> admin migrations </a>status:
            <a href="https://github.com/conda-forge/admin-migrations/actions/workflows/migrate.yml">
            <img src="https://github.com/conda-forge/admin-migrations/actions/workflows/migrate.yml/badge.svg"
                 alt=" " align="bottom"
                 onerror='statusImageNotFound(this)'
                 >
            </a>
          </h5>
        </div>

        <div class="libcfgraph">
          <h5>
                  <a href="https://github.com/regro/libcfgraph">libcfgraph </a>status:
                  <a href="https://circleci.com/gh/regro/libcfgraph">
            <img src="https://dl.circleci.com/status-badge/img/gh/regro/libcfgraph/tree/master.svg?style=svg"
              alt=" "
              align="bottom"
              onerror='statusImageNotFound(this)'
            >
            </a>
          </h5>
        </div>

        <div class="cloning">
            <h5><a href=https://conda-static.anaconda.org/conda-forge/rss.xml>CDN cloning</a> status:
                <span class="cdn-status status operational">operational</span></h5>
            <script type="text/javascript" src="cdn-clone.js"></script>
        </div>

        <h4 id="big_migrations"><a href="#big_migrations" style="color: inherit;">Long-Term Migrations</a></h4>
        <p  style="font-size:125%;">
          <a href="#little_migrations">Short-term migrations</a>
          and <a href="#closed_migrations">recently closed migrations</a>
          are listed below.
        </p>
        <div id="migratorDivBig" style="text-align:center;"></div>

        <h4 id="version_updates"><a href="#version_updates" style="color: inherit;">Version Updates</a></h4>
        <div id="versionDiv" style="text-align:left;"></div>
        <script type="text/javascript" src="version.js"></script>

        <div class="azure pipelines">
          <h4 id="azure"><a href="#azure" style="color: inherit;">Azure Pipelines Usage</a></h4>
          <div id="azure-pipelines-total">Azure Pipelines usage is not available.</div>
          <p></p>
          <div id="azure-pipelines-list"></div>
        </div>

        <div class="github actions">
          <h4 id="github_actions"><a href="#github_actions" style="color: inherit;">GitHub Actions Usage</a></h4>
          <div id="github-actions-total">GitHub Actions usage is not available.</div>
          <p></p>
          <div id="github-actions-list"></div>
        </div>

        <div class="travis ci">
          <h4 id="travis"><a href="#travis" style="color: inherit;">Travis CI Usage</a></h4>
          <div id="travis-ci-total">Travis CI usage is not available.</div>
          <p></p>
          <div id="travis-ci-list"></div>
        </div>

        <!-- <div class="drone">
          <h4 id="drone"><a href="#drone" style="color: inherit;">Drone Usage</a></h4>
          <div id="drone-total">Drone usage is not available.</div>
          <p></p>
          <div id="drone-list"></div>
        </div>

        <div class="circleci">
          <h4 id="circle"><a href="#circle" style="color: inherit;">CircleCI Usage</a></h4>
          <div id="circleci-total">CircleCI usage is not available.</div>
          <p></p>
          <div id="circleci-list"></div>
        </div>

        <div class="appveyor">
          <h4 id="appveyor"><a href="#appveyor" style="color: inherit;">AppVeyor Usage</a></h4>
          <div id="appveyor-total">AppVeyor usage is not available.</div>
          <p></p>
          <div id="appveyor-list"></div>
        </div> -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
                integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
                integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="actions.js"></script>

        <h4 id="cloud_services"><a href="#cloud_services" style="color: inherit;">Cloud Services</a></h4>
        <div id="ciStatusDiv-github"><h5><a href="https://www.githubstatus.com/">GitHub status</a>: No Status Available</h5></div>
        <div id="ciStatusDiv-travis"><h5><a href="https://www.traviscistatus.com">Travis CI status</a>: No Status Available</h5></div>
        <!-- <div id="ciStatusDiv-circle"><h5><a href="https://status.circleci.com">CircleCI status</a>: No Status Available</h5></div>
        <div id="ciStatusDiv-appveyor"><h5><a href="https://status.appveyor.com">AppVeyor status</a>: No Status Available</h5></div> -->
        <div id="ciStatusDiv-quay"><h5><a href="https://status.quay.io/">Quay.io status</a>: No Status Available</h5></div>
        <div id="ciStatusDiv-anaconda"><h5><a href="https://anaconda.statuspage.io">Anaconda status</a>: No Status Available</h5></div>
        <script type="text/javascript" src="cistatus.js"></script>
        <div id="azure-dummy-div">
          <h5><a href="https://status.dev.azure.com/">Azure DevOps</a>: <span id="azure-status">No Status Available</span></h5>
        </div>
        <script type="text/javascript" src="azure.js"></script>
        <div id="open-gpu-server-dummy-div">
          <h5><a href="https://ci-status.quansight.dev/">Open GPU Server</a>: <span id="open-gpu-server-status">No Status Available</span></h5>
        </div>
        <script type="text/javascript" src="open-gpu-server.js"></script>

        <h4 id="little_migrations"><a href="#other_migrations" style="color: inherit;">Short-Term Migrations</a></h4>
        <div id="migratorDivLittle" style="text-align:center;"></div>
        <h4 id="closed_migrations"><a href="#closed_migrations" style="color: inherit;">Recently Closed Migrations</a></h4>
        <div id="migratorDivClosed" style="text-align:center;">Nothing here! Yay!</div>
        <script type="text/javascript" src="migrator.js"></script>

        <h4 id="incident_history"><a href="#incident_history" style="color: inherit;">Incidents</a></h4>
        {% if closed_issues %}
        {% for issue in closed_issues %}
        <div class="incident">
          <span class="date moment">{{ issue.time }} UTC</span>
          <span class="label operational float-right">resolved</span>
          <hr />
          <span class="title">{{ issue.title|safe }} <a href="{{ issue.url }}">#{{ issue.id }}</a></span>
          <br />
          {{ issue.body|safe }}
        </div>
        {% endfor %}
        {% else %}
        <em>No incidents in the past 90 days.</em>
        {% endif %}

      </section>

      <footer class="footer">
        <section class="container">
          <hr/>
          <p>{{ config.footer }}</p>
        </section>
      </footer>

    </main>
    <script type="text/javascript" src="linter.js"></script>
  </body>
</html>
